<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern> %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="chapters.configuration" level="INFO" />

	<!--Daily rolling file appender -->

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<File>D:/Biblioteker/Dokumenter/Eclipse/octo-ninja/logFile.log</File>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

			<FileNamePattern>logFile.%d{yyyy-MM-dd}.log</FileNamePattern>

		</rollingPolicy>



		<encoder>
			<pattern> %-5level %logger{36} - %msg%n</pattern>
		</encoder>

	</appender>

	<root level="TRACE">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="FILE" />
	</root>

</configuration>